<mat-list class="mat-elevation-z8" class="sitemap-list">
    <mat-list-item>
      <mat-icon matListIcon>label_outline</mat-icon>
      <a routerLink="/home" matLine>Home</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>label_outline</mat-icon>
      <a routerLink="/resort/universal/details" matLine>Known Resort</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>label</mat-icon>
      <a routerLink="/resort/seaworld/details" matLine>Unknown Resort</a>
      <p matLine>this will fail</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>label</mat-icon>
      <a routerLink="/user" matLine>User</a>
      <p matLine>this will fail if not logged id</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>label</mat-icon>
      <a routerLink="/admin" matLine>Admin</a>
      <p matLine>this will fail if not admin user or if not logged in</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon>label</mat-icon>
      <a routerLink="/super" matLine>Super Admin</a>
      <p matLine>this will fail if not super admin user or if not logged in</p>
    </mat-list-item>
</mat-list> 