<h1>Error!</h1>
<ng-container [ngSwitch]="errorCode">
  <ng-container *ngSwitchCase="'NOT_AUTHENTICATED'">
    <p>You are not logged in yet.</p>
    <p>Click the user icon to do so. Seriously, it's click and choose.</p>
  </ng-container>
  <ng-container *ngSwitchCase="'NOT_AUTHORIZED'">
    <p>You are not allowed to go to this page.</p>
    <p>Go sit in the corner and think about what you've done.</p>
  </ng-container>
  <ng-container *ngSwitchCase="'NOT_FOUND_RESORT'">
    <p>The resort cannot be found.</p>
    <p>We don't have that data so go look somewhere else</p>
  </ng-container>
  <ng-container *ngSwitchCase="'NOT_SUPER'">
    <p>You are not <em>super</em>.</p>
    <p>...and no capes!</p>
  </ng-container>
  <p *ngSwitchDefault>
    An error occured. I have no idea what. Sorry, mate.
  </p>
</ng-container>