<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-icon>verified_user</mat-icon> <a routerLink="/" class="toolbar--title">Guarded App</a>
  <span class="toolbar-fill-space"></span>
  <mat-icon 
    *ngIf="!loggedIn()"
    (click)="openLogin()"
    class="clickable">
      account_box
  </mat-icon>
  <mat-icon 
    *ngIf="loggedIn()"
    routerLink="user"
    class="clickable">
      account_circle
  </mat-icon>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar color="primary" class="footer">
    <span class="toolbar-fill-space"></span>
    <a *ngIf="isAdmin()" routerLink="/admin">admin</a>
    <a routerLink="/sitemap">sitemap</a>
  </mat-toolbar>